/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--weight-text);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* <---------- header ----------> */

.header {
  margin-inline: auto;
  margin-block-end: 100px;
  padding-block: clamp(7.5rem, 3.5122rem + 19.5122vw, 8rem);
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  text-align: center;
  border: 2px solid #000000;
  background-color: #fff;
}

.header_title {
  font-family: var(--accent-font), fanatsy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header_subtitle {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  line-height: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  text-transform: uppercase;
}

/* <---------- section ----------> */

.section {
  margin-inline: auto;
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  margin-block-end: 50px;
  background-color: #fff;
}

.section_title {
  padding: 4.3px 10px;
  border: 2px solid #000;
  font-weight: var(--weight-title);
  font-size: 18px;
  line-height: 21.78px;
}

.card_label {
  position: relative;
  border-inline: 2px solid #000;
}

.label_text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 14px;
  opacity: 50%;
  background-blend-mode: hard-light;
  text-shadow: -1px 0 var(--outline-label-color),
    0 1px var(--outline-label-color), 1px 0 var(--outline-label-color),
    0 -1px var(--outline-label-color);
}

@supports (
  (text-stroke: 1px var(--outline-label-color)) or
    (-webkit-text-stroke: 1px var(--outline-label-color))
) {
  .label_text {
    -webkit-text-stroke: 1px var(--outline-label-color);
    text-stroke: 1px var(--outline-label-color);
    text-shadow: none;
  }
}

.card_image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1 /1;
}

.card_content_container {
  padding: 25px;
  border: 2px solid #000;
}

.card_text_container > .card_text:last-of-type {
  margin-block-end: 25px;
}

.card_text {
  margin-block-end: 27px;
  font-size: 18px;
  line-height: 21px;
}

.button_container {
  display: flex;
  margin-left: auto;
  inline-size: fit-content;
  block-size: fit-content;
}

.card__icon-button {
  border: none;
  background: none;
  height: 36px;
}

.button {
  border: 2px solid #000;
  background: none;
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  margin: auto;
  font-size: 14px;
}

.card__like-button {
  padding: 10.25px 35px;
}

/* <---------- image_filter -----------> */

.section_freetrack_image {
  filter:brightness(120%);
}

.section_clean_slate_image {
  filter:saturate(200%)
}

.section_if_it_fails_image {
  filter:grayscale(80%);
}

.section_pursuit_of_perfection_image {
  filter:contrast(120%);
}

.section_who_is_around_image {
  filter:sepia(0.6);
}

.section_workaround_strategies_image {
  filter:blur(3px) saturate(180%);
}

.section_hands_down_image {
  filter:brightness(105%) contrast(105%) saturate(130%);
}

.section_im_here_now_image {
  filter: opacity(80%);
}

.floppy_button {
  display: flex;
  align-items: center;
  inline-size: clamp(19.375rem, 2.723vw + 18.737rem, 21.188rem);
  gap: 8px;
  padding-inline: 19px 21px;
  padding-block: 15px;
  margin: auto;
  background-color: #fff;
}

.icon-floppy {
  inline-size: 21px;
  block-size: 21px;
}

.dialog[open] {
  min-inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  padding: 29.5px 30.5px 28.5px 29.5px;
  border: none;
  border: 2px solid #000;
}

.dialog::backdrop {
  background-color: rgba(26 26 26 / 0.75);
}

.dialog_text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog-floppy {
  min-inline-size: 39px;
  block-size: 39px;
}

.dialog_content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog_button {
  inline-size: 100%;
  padding:10px 17px;
  margin-block-start: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media(width<=375px){
  .header {
    inline-size: 100%;
    padding-block: 120px;
  }
  .section {
    inline-size: 100%;
  }
  .floppy_button {
    flex-direction: column;
  }
  .icon-floppy {
    inline-size: 28px;
    block-size: 28px;
  }
  .dialog[open] {
    padding: 30px 40px;
  }

}
